/*统一清理*/
body {margin: 0; width: 100%; height: 100%; overflow: hidden}
ul {list-style: none; padding: 0; }

/**
正文
左侧目录
*/
.container {
	width: 100%;
	height: 100%;
	min-height: 648px;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
.lists {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 100%;
	padding: 50px 50px 0px;
	background-color: rgba(255, 255, 255, .7);
	z-index: 99;
}
.hd-pic {
	height: 120px;
	width: 120px;
	border: 2px solid #999;
	border-radius: 60px;
	margin-bottom: 10px;
	background-image: url('https://s.xiaoyuanhao.com/file/a42d3fc6-c974-4469-9b65-2edf46890bb3.jpg');
	background-size: cover;
	background-position: center center;
}
.introduce {
	width: 100%;
}
.introduce-name {
	font-weight: 700;
	text-align: center;
}
.introduce-introduce {
	font-size: 12px;
	margin-bottom: 30px;
	text-indent: 2em;
}
.list-ft ul a {
	display: block;
	width: 100%;
	color: #888;
}
.list-ft ul a:hover {
	font-size: 20px;
	color: #333;
	text-decoration: none;
	font-weight: 700;
}
.list-ft ul a:focus {
	text-decoration: none;
}
.list-ft li {
	padding-top: 20px;
}
.list-ft ul {
	padding-left: 10px;
}

/**
正文
右侧文章列表
*/
.bg {
	height: 100%;
	width: 100%;
	background-image: url('https://s.xiaoyuanhao.com/file/a42d3fc6-c974-4469-9b65-2edf46890bb3.jpg');
	background-size: cover;
	background-position: center center;
}
.article-list {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 230px;
	right: 10px;
	min-width: 763px;
	background-color: rgba(255, 255, 255, .7);
	margin-top: 200px;
	overflow-y: auto;
}
.all-article {
	width: 100%;
	height: 100%;
}
.article {
	display: block;
	width: 100%;
	padding: 20px 20px 0 20px;
	color: #333;
}
.article:hover {
	color: #333;
	text-decoration: none;
	border: 2px solid #999;
	border-left: 0;
}
.article:focus {
	color: #333;
	text-decoration: none;
}
/*.article:focus {
	text-decoration: none;
}*/
.title {
	font-size: 30px;
}
.abstract {
	text-indent: 2em;
}
.time {
  text-align: right;
}

/**
滚动条样式
*/
.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9999;
    width: 16px;
    bottom: 2px;
    top: 2px;
    right: 2px;
    overflow: hidden;
}

@media screen and (max-width: 400px) {
	.container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.lists {
	  position: absolute;
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
		padding: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 99;
	}
	.list-hd {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 110px;
	}
	.hd-pic {
		position: absolute;
		top: 10px;
		left: 10px;
    height: 50px;
    width: 50px;
    border: 1px solid #999;
    border-radius: 25px;
    background-image: url(https://s.xiaoyuanhao.com/file/a42d3fc6-c974-4469-9b65-2edf46890bb3.jpg);
    background-size: cover;
    background-position: center center;
	}
	.introduce {
		position: absolute;
		top: 10px;
		left: 80px;
		right: 0;
	}
	.introduce-name {
    font-weight: 700;
    text-align: left; 
		margin-left: 5px;
	}
	.introduce-introduce {
    font-size: 12px;
		text-indent: 0; 
	}
	.list-ft {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 10px;
	}
	.list-ft ul {
    padding-left: 10px;
		margin: 0;
		display: -webkit-box;
    display: -webkit-flex;
    display: flex;
		-webkit-box-pack:justify;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		-webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
	}
	.article-list {
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 300px;
		margin: 0;
    background-color: rgba(255, 255, 255, .7);
    overflow-y: auto;
}
}