{% extends "../layout/base.html" %}
{% block head %}
<link href="/static/lib/simditor/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/blog/simditor.css" rel="stylesheet">
<link href="/static/css/blog/simditorIndex.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="container">
    <div class="top">
        <div class="title">
            <div class="title-title">title</div>
            <input class="title-input" type="text">
        </div>
        <div class="abstract">
            <div class="abstract-title">abstract</div>
            <input class="abstract-input" type="text">
        </div>
        <div class="srticle-id">
            <div class="srticle-id-title">srticle-id</div> 
            <input class="srticle-id-input" type="text"> <a href="#" class="srticle-id-fix">修改</a>
        </div>
        <div class="ok">
            <div class="article-ok">完成</div>
        </div>
    </div>
    <div class="simditor-box">
        <textarea id="editor" placeholder="Balabala" autofocus></textarea>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/blog/jquery.min.js"></script>
<script src="/static/js/blog/module.min.js"></script>
<script src="/static/js/blog/hotkeys.min.js"></script>
<script src="/static/js/blog/simditor.min.js"></script>
<script src="/static/js/blog/simditorIndex.js"></script>
{% endblock %}